@font-face {
    font-family: 'allroundgothic';  /* Nome que você usará para referenciar a fonte */
    src: url('./fonts/Fontspring-DEMO-allroundgothic-demioblique.otf') format('truetype');  /* Caminho para o arquivo da fonte */
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family: allroundgothic, sans-serif;
}

header {
    background-color: #c30a0d; /* Red background */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 200px; /* Adjust as necessary */
}

nav {
    background-color: #000; /* Dark background */
    min-height: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: #f2ebdb; /* Beige foreground */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background-color: white; /* White background */
    padding: 20px;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.project {
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
}

.project img {
    width: 100%;
    height: auto; /* Keep aspect ratio */
}

.project h2 {
    margin: 10px 0;
}

.project:hover {
    transform: scale(1.05); /* Highlight effect on hover */
    cursor: pointer;
}
