@font-face {
    font-family: 'allroundgothic';  /* Nome que você usará para referenciar a fonte */
    src: url('./fonts/Fontspring-DEMO-allroundgothic-demioblique.otf') format('truetype');  /* Caminho para o arquivo da fonte */
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family: allroundgothic, sans-serif;
}

header {
    background-color: #c30a0d; /* Red background */
    color: #f2ebdb;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 300px; /* Adjust as necessary */
    margin: 40px;
}

nav {
    background-color: #000; /* Dark background */
    min-height: 3em;
    position: sticky; /* Faz o nav ficar fixo quando rolar */
    top: 0;
    left: 0;
    width: 100%; /* Garante que o menu ocupe toda a largura da tela */
    z-index: 1000; /* Garante que o nav fique acima de outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li:hover {
    transform: scale(1.3); /* Efeito de destaque ao passar o mouse */
}

nav ul li a {
    color: #f2ebdb; /* Beige foreground */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background-color: #f2ebdb; /* Beige foreground */
    padding: 20px;
}

.projects {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaço entre os projetos */
    margin: 50px 200px 20px 200px;
}

.project {
    width: 25%; /* Tamanho das colunas (aproximadamente 3 colunas) */
    text-align: center;
    position: relative; /* Necessário para o posicionamento do conteúdo */
    overflow: hidden; /* Para cortar as partes da imagem que ultrapassam o tamanho da coluna */
    transition: transform 0.3s;
}

.project img {
    width: 100%;
    height: 100%; /* Faz com que a imagem tenha 100% da altura do contêiner */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner, mantendo a proporção e cortando se necessário */
    object-position: center; /* Centraliza a imagem para que o corte seja feito de forma equilibrada */
}

.project h2 {
    position: absolute; /* Coloca o título sobre a imagem */
    top: 95%; /* Posiciona o título no meio da coluna */
    left: 50%; /* Centraliza o título horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o título para ser exatamente centrado */
    z-index: 10; /* Garante que o título fique acima da imagem */
    color: #f2ebdb; /* Beige foreground */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o título */
    padding: 10px; /* Espaçamento em torno do título */
    font-size: 1rem; /* Tamanho da fonte (ajuste conforme necessário) */
    margin: 0; /* Remove margens padrão do h2 */
}

.project:hover {
    transform: scale(1.05); /* Efeito de destaque ao passar o mouse */
    cursor: pointer;
}

@media (max-width: 768px) {
    .projects {
        flex-direction: column; /* Muda de 3 colunas para 1 coluna */
        align-items: center; /* Centraliza os itens na tela */
    }

    .project {
        width: 90%; /* Ajusta a largura para 90% para ocupar mais espaço na tela */
        margin-bottom: 20px; /* Adiciona um espaçamento entre as imagens */
        height: 300px; /* Ajusta a altura das imagens para uma altura fixa */
    }
}
