@font-face {
    font-family: 'allroundgothic';  /* Nome que você usará para referenciar a fonte */
    src: url('./fonts/Fontspring-DEMO-allroundgothic-demioblique.otf') format('truetype');  /* Caminho para o arquivo da fonte */
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family: allroundgothic, sans-serif;
}

header {
    background-color: #c30a0d; /* Red background */
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 200px; /* Adjust as necessary */
}

nav {
    background-color: #000; /* Dark background */
    min-height: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: #f2ebdb; /* Beige foreground */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    background-color: white; /* White background */
    padding: 20px;
}

.projects {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espaço entre os projetos */
}

.project {
    width: 30%; /* Tamanho das colunas (aproximadamente 3 colunas) */
    text-align: center;
    position: relative; /* Necessário para o posicionamento do conteúdo */
    overflow: hidden; /* Para cortar as partes da imagem que ultrapassam o tamanho da coluna */
    transition: transform 0.3s;
}

.project img {
    width: 100%;
    height: 100%; /* Faz com que a imagem tenha 100% da altura do contêiner */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner, mantendo a proporção e cortando se necessário */
    object-position: center; /* Centraliza a imagem para que o corte seja feito de forma equilibrada */
}

.project h2 {
    position: absolute; /* Coloca o título sobre a imagem */
    top: 95%; /* Posiciona o título no meio da coluna */
    left: 50%; /* Centraliza o título horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o título para ser exatamente centrado */
    z-index: 10; /* Garante que o título fique acima da imagem */
    color: white; /* Cor do texto (ajuste conforme necessário) */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o título */
    padding: 10px; /* Espaçamento em torno do título */
    font-size: 1.2rem; /* Tamanho da fonte (ajuste conforme necessário) */
    margin: 0; /* Remove margens padrão do h2 */
}

.project:hover {
    transform: scale(1.05); /* Efeito de destaque ao passar o mouse */
    cursor: pointer;
}
