@font-face {
    font-family: 'allroundgothic';  /* Nome que você usará para referenciar a fonte */
    src: url('../fonts/Fontspring-DEMO-allroundgothic-demioblique.otf') format('truetype');  /* Caminho para o arquivo da fonte */
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family: allroundgothic, sans-serif;
}

header {
    background-color: #c30a0d; /* Red background */
    color: #f2ebdb;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 20rem; /* Adjust as necessary */
    margin: 2rem;
}

nav {
    background-color: #000; /* Dark background */
    min-height: 3em;
    position: sticky; /* Faz o nav ficar fixo quando rolar */
    top: 0;
    left: 0;
    width: 100%; /* Garante que o menu ocupe toda a largura da tela */
    z-index: 1000; /* Garante que o nav fique acima de outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 1rem;
}

nav ul li:hover:not(.noScale) {
    transform: scale(1.3); /* Efeito de destaque ao passar o mouse */
}

nav ul li a {
    color: #f2ebdb; /* Beige foreground */
    text-decoration: none;
}

/* Estilo do botão do dropdown */
.dropbtn {
  background-color: #000; /* Cor de fundo */
  color: #f2ebdb; /* Cor do texto */
  padding: 1.5rem 1rem;
  border: none; /* Sem borda */
  cursor: pointer; /* Cursor de ponteiro */
}

/* Container do dropdown */
.dropdown {
  position: relative; /* Necessário para posicionar o conteúdo do dropdown */
  display: inline-block; /* Exibe como elemento em linha */
}

/* Conteúdo do dropdown (oculto por padrão) */
.dropdown-content {
  display: none; /* Oculto inicialmente */
  position: absolute; /* Posicionamento absoluto em relação ao container */
  background-color: #f2ebdb; /* Cor de fundo do dropdown */
  min-width: 10rem; /* Largura mínima */
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.2); /* Sombra */
  z-index: 1; /* Para garantir que fique acima de outros elementos */
}

/* Links dentro do dropdown */
.dropdown-content a {
  color: black; /* Cor do texto dos links */
  padding: 0.8rem 1rem; /* Espaçamento interno dos links */
  text-decoration: none; /* Sem sublinhado nos links */
  display: block; /* Exibe como bloco para ocupar toda a largura */
}

/* Muda a cor dos links ao passar o mouse */
.dropdown-content a:hover {
  background-color: #f2ebdb; /* Cor de fundo ao passar o mouse */
  color: #c30a0d;
  transform: scale(1.1);
}

/* Mostra o conteúdo do dropdown ao passar o mouse sobre o botão */
.dropdown:hover .dropdown-content {
  display: block; /* Exibe o conteúdo quando hover no dropdown */
}

/* Muda a cor do botão quando o dropdown é mostrado */
.dropdown:hover .dropbtn {
  background-color: #c30a0d; /* Cor do botão ao hover */
  transform: scale(1.1);
}


main {
    background-color: #f2ebdb; /* Beige foreground */
    padding: 1.5rem;
}

.projects {
    display: flex;
    justify-content: space-between;
    height: 28rem;
    gap: 1rem; /* Espaço entre os projetos */
    margin: 2rem 8% 1rem 8%;
}

.project {
    width: 20%; /* Tamanho das colunas (aproximadamente 3 colunas) */
    text-align: center;
    position: relative; /* Necessário para o posicionamento do conteúdo */
    overflow: hidden; /* Para cortar as partes da imagem que ultrapassam o tamanho da coluna */
    transition: transform 0.3s;
}

.project img {
    width: 100%;
    height: 100%; /* Faz com que a imagem tenha 100% da altura do contêiner */
    object-fit: cover; /* Faz com que a imagem preencha o contêiner, mantendo a proporção e cortando se necessário */
    object-position: center; /* Centraliza a imagem para que o corte seja feito de forma equilibrada */
}

.project h2 {
    position: absolute; /* Coloca o título sobre a imagem */
    top: 95%; /* Posiciona o título no meio da coluna */
    left: 50%; /* Centraliza o título horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o título para ser exatamente centrado */
    z-index: 10; /* Garante que o título fique acima da imagem */
    color: #f2ebdb; /* Beige foreground */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o título */
    padding: 0.5rem; /* Espaçamento em torno do título */
    font-size: 1rem; /* Tamanho da fonte (ajuste conforme necessário) */
    margin: 0; /* Remove margens padrão do h2 */
    width: max-content;
}

.project:hover {
    transform: scale(1.05); /* Efeito de destaque ao passar o mouse */
    cursor: pointer;
}

/* Estilos para a seção de Chamada para Ação */
.cta {
    background-color: #000; /* Cor de fundo suave */
    padding: 2rem 2rem;
    text-align: center;
    margin-top: 3rem;
  }
  
  .cta-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cta h2 {
    font-size: 2.5rem;
    color: #f2ebdb;
    margin-bottom: 1.2rem;
    font-family: 'Arial', sans-serif;
  }
  
  .cta p {
    font-size: 1.1rem;
    color: #f2ebdb;
    margin-bottom: 1.2rem;
    font-family: 'Arial', sans-serif;
  }
  
  .cta-button {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 3rem;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .cta-button i {
    margin-right: 0.8rem;
  }
  
  .cta-button:hover {
    transform: scale(1.1);
  }

  @media (max-width: 62.5em) {
    .cta h2 {
      font-size: 2rem;
    }
  
    .cta p {
      font-size: 1rem;
    }
  
    .cta-button {
      padding: 0.8rem 2rem;
      font-size: 1rem;
    }

    .projects {
        flex-direction: column; /* Muda de 3 colunas para 1 coluna */
        align-items: center; /* Centraliza os itens na tela */
        margin: 0;
        height: auto;
    }

    .project {
        width: 90%; /* Ajusta a largura para ocupar mais espaço na tela */
        margin-bottom: 0.5em; /* Adiciona um espaçamento entre as imagens */
        height: 30rem; /* Ajusta a altura das imagens para uma altura fixa */
    }
}
