@font-face {
    font-family: 'allroundgothic';  /* Nome que você usará para referenciar a fonte */
    src: url('../fonts/Fontspring-DEMO-allroundgothic-demioblique.otf') format('truetype');  /* Caminho para o arquivo da fonte */
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    font-family: allroundgothic, sans-serif;
    background-color: #161111;
}

header {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.logo-container {
  line-height: 0;
}

.logo {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav {
  background-color: #EDD6C3;
  min-height: 1em;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0 1em 0 1em;
  margin: 0;
  display: flex;
  justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
  width: 100%; /* Garante que o ul ocupe toda a largura do nav */
}

/* Estilos para os containers left e right */
.left, .right {
  display: flex; /* Garante que os itens dentro dos containers fiquem em linha */
  align-items: center; /* Alinha verticalmente os itens */
}

nav ul li {
  margin: 0 1em 0 1em;
}

nav ul li:hover:not(.noScale) {
  transform: scale(1.3);
}

nav ul li a {
  color: #AF5A84;
  text-decoration: none;
}


/* Estilo do botão do dropdown */
.dropbtn {
  background-color: #EDD6C3; /* Cor de fundo */
  color: #AF5A84; /* Cor do texto */
  padding: 0.5rem 0.5rem;
  border: none; /* Sem borda */
  cursor: pointer; /* Cursor de ponteiro */
}

/* Container do dropdown */
.dropdown {
  position: relative; /* Necessário para posicionar o conteúdo do dropdown */
  display: inline-block; /* Exibe como elemento em linha */
}

/* Conteúdo do dropdown (oculto por padrão) */
.dropdown-content {
  display: none; /* Oculto inicialmente */
  position: absolute; /* Posicionamento absoluto em relação ao container */
  background-color: #EDD6C3; /* Cor de fundo do dropdown */
  min-width: 8rem; /* Largura mínima */
  box-shadow: 0rem 0.5rem 1rem rgba(0,0,0,0.2); /* Sombra */
  z-index: 1; /* Para garantir que fique acima de outros elementos */
  padding: 0.5em 0;
}

/* Links dentro do dropdown */
.dropdown-content a {
  color: black; /* Cor do texto dos links */
  padding: 0.3rem 0.8rem; /* Espaçamento interno dos links */
  text-decoration: none; /* Sem sublinhado nos links */
  display: block; /* Exibe como bloco para ocupar toda a largura */
  font-size: 0.7em;
}

/* Muda a cor dos links ao passar o mouse */
.dropdown-content a:hover {
  background-color: #EDD6C3; /* Cor de fundo ao passar o mouse */
  color: #AF5A84;
  transform: scale(1.1);
}

/* Mostra o conteúdo do dropdown ao passar o mouse sobre o botão */
.dropdown:hover .dropdown-content {
  display: block; /* Exibe o conteúdo quando hover no dropdown */
}

/* Muda a cor do botão quando o dropdown é mostrado */
.dropdown:hover .dropbtn {
  background-color: #EDD6C3; /* Cor do botão ao hover */
  transform: scale(1.1);
}


main {
    background-color: #161111;
    padding: 1.5rem;
}

h4{
  color: #EDD6C3;
  text-align: center;
}

.projects {
  display: block; /* Muda para layout vertical */
  margin: 2rem 8% 1rem 8%;
}

.project {
  width: 100%; /* Ajusta a largura para ocupar toda a linha */
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  margin-bottom: 1rem; /* Adiciona espaço entre os projetos */
}

.project img {
  width: 100%;
  height: 10rem; /* Ajusta a altura da imagem */
  object-fit: cover;
  object-position: center;
}

.project h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #AF5A84;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0;
  width: max-content;
  display: none;
}

.project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project:hover h2{
  display: block;
}

/* Estilos para a seção de Chamada para Ação */
.cta {
    background-color: #161111; /* Cor de fundo suave */
    padding: 0.8rem;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5rem #AF5A84; /* Sombra */
  }
  
  .cta-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cta h2 {
    font-size: 1.5rem;
    color: #EDD6C3;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
  }
  
  .cta p {
    font-size: 1rem;
    color: #EDD6C3;
    margin-bottom: 1.2rem;
    font-family: 'Arial', sans-serif;
  }
  
  .cta-button {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 2rem;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: white;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 3rem;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .cta-button i {
    margin-right: 0.8rem;
  }
  
  .cta-button:hover {
    transform: scale(1.1);
  }

  @media (max-width: 62.5em) {
    .cta h2 {
      font-size: 2rem;
    }
  
    .cta p {
      font-size: 1rem;
    }
  
    .cta-button {
      padding: 0.8rem 2rem;
      font-size: 1rem;
    }

    .projects {
        flex-direction: column; /* Muda de 3 colunas para 1 coluna */
        align-items: center; /* Centraliza os itens na tela */
        margin: 0;
        height: auto;
    }

    .project {
        width: 90%; /* Ajusta a largura para ocupar mais espaço na tela */
        margin-bottom: 0.5em; /* Adiciona um espaçamento entre as imagens */
        height: 30rem; /* Ajusta a altura das imagens para uma altura fixa */
    }
}
